article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: inline-table;
    min-height: 300px;
}


.places h1 {
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
}


.places {
    text-align: center;
    margin-top: 80px;
  }

.places article h2 {
    font-size: 30px;
    text-align: center;
    display: inline-block;
    margin: 15px;
}

.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    float: right;
    margin-top: 0px;
}

.information {
    height: 80px;
    border-top: 1px #DDDDDD solid;
    border-bottom: 1px #DDDDDD solid;
    margin-top: 10px;
}

.max_guest {
    margin-top: -7px;
    width: 100px;
    height: 80px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.number_rooms {
    margin-top: -7px;
    width: 100px;
    height: 80px;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.number_bathrooms {
    margin-top: -7px;
    width: 100px;
    height: 80px;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.max_guest p, .number_rooms p, .number_bathrooms p {
    text-align: center;
    line-height: 110px;
}

.user {
    text-align: left;
}

.description {
    text-align: left;
}